.description{
    font-size: 16px;
    color: #FAFAFA60;
}
.name{
    font-size: 32px;
    color: white;
}
.linkred{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(246, 34, 34);
    font-size: 18px;
    opacity: 0.9;
    

}
.linkgreen{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(15, 215, 15);
    font-size: 20px;
    text-decoration: none;
    opacity: 0.9;


}
.linkgreen:hover{
    opacity: 1.0;
    
}
.linkred:hover{
    cursor: pointer;
    opacity: 1.0;
    
}